.swiper-button-next,
.swiper-button-prev {
  background-color: #f3f4f6 !important;
  position: absolute !important;
  z-index: 1000 !important;
  width: 40px !important;
  height: 40px !important;
  color: #b3b3b3 !important;
  border-radius: 100% !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}


.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #f3f4f6 !important;
  background-color: #a0a0a0 !important;
}
